   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
    border-right:0px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #e80909;
    
}
            
                
            div.header {
                position: static;
                text-align: center;
                font-size: 35px;            
                color: black;
            }
            
        div.homepara {
                position: static;
                bottom: 320px;
                left: 0px;
                font-size: 15px;
                color: black;
            }

div.contact {
                position: static;
                text-align: center;
                font-size: 35px;
                color: black;
            }
    