   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #930112;
}

li {
    float: left;
    border-right:0px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #bbb;
}

.active {
    background-color: #cc0219;
    
}
            
                
            div.header {
                position: static;
                text-align: center;
                font-size: 35px;            
                color: black;
            }
            
        div.homepara {
                position: static;
                bottom: 320px;
                left: 0px;
                font-size: 15px;
                color: black;
            }  

    div.homepara2 {
                position: static;
                bottom: 320px;
                left: 0px;
                font-size: 15px;
                color: white;
            }

  div.homepara3 {
                position: absolute;
                left: 400px;
                font-size: 15px;
                color: white;
            }

div.contact {
                position: static;
                text-align: center;
                font-size: 35px;
                color: white;
            }

body {background-color: black;}



.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #cc0219;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}







.btn-primary.active {
 color: white;
 background-color: #e83114 ;
 border-color: #285e8e ;
}
.btn-primary {
   color: white;
   background-color: #444;
   border-color: #222;
}
.btn-primary:hover:not(.active) {
   color: white;
   background-color:#e83114 ;
   border-color:#222;
}

















.box{
	width:500px;
    height:1000px;
    position:relative;
    z-index: 1;
    
}
 
 
.green{
	background:#999;
    z-index: 2;
}
